<!DOCTYPE html>
<html>
    <head>
          <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
          <title>Meal Planner</title>
          <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" type="text/css">
    </head>

    <body>
        <table>
            <tr>
                <th></th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
                <th>Sunday</th>
            </tr>
            {% for meal in planner %}
                <tr>
                    {% for day in meal %}
                        {% if day[0] != 0 %}
                            <td><a href="recipe?id={{ day[0] }}">{{ day[1] }}</a></td>
                        {% else %}
                            <td>{{ day[1] }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </body>
</html>