{% extends "base.html" %}
{% block content %}
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Link</th>
            <th>Meal</th>
            <th>Course</th>
            <th>Servings</th>
            <th>Vegan</th>
        </tr>
        {% for row in recipes %}
            <tr>
                {% for r in row %}
                    {% if row.index(r) == 1 %}
                        <td><a href="recipe?id={{ row[0] }}">{{ r }}</a></td>
                    {% elif row.index(r) == 2 %}
                        <td><a href="{{ r }}" target="_blank">{{ r }}</a></td>
                    {% else %}
                        <td>{{ r }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}