.topnav {
    display: flex;
    list-style-type: none;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #ff7675;
}
.nav-item {
  padding: 1em;
}
.new-button {
    text-align: right;
    padding-right: 2em;
    padding-top: 2em;
    
}
body {
    background-color: #b5739d;
}
table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}
tbody td {
    text-align: center;
}
thead th{
    font-weight: 700;
}